@model TwitterCloneMVCUI.Models.TweetsViewModel

@{
    ViewBag.Title = "EditTweet";
}

<h2>EditTweet</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.tweet_id);
    @Html.HiddenFor(Model => Model.created);
    @Html.HiddenFor(Model => Model.user_id);

<div class="form-horizontal">
    <h4>TweetsViewModel</h4>
    <hr />




    <div class="form-group">
        @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.message, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>

    @if (ViewBag.msg != null)
    {
        <div class="alert alert-primary">
            <h4>@ViewBag.msg</h4>
        </div>
    }

</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
}
