@model WebApplication1.ServiceReference1.SUPPLIER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SUPPLIER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUPLADDR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPLADDR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPLNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPLNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPLNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPLNO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
