@model IEnumerable<WebApplication1.ServiceReference1.SUPPLIER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SUPLADDR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUPLNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUPLNO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SUPLADDR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUPLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUPLNO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SUPLNO}) |
            @Html.ActionLink("Details", "Details", new {  id=item.SUPLNO  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SUPLNO })
        </td>
    </tr>
}

</table>
